.header {
  margin-top: 13px;
  margin-left: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  border: 1px solid rgb(226, 210, 210);
  width: 45rem;
  height: 45px;
  padding-left: 20px;
  border-radius: 5px;
}

.input {
  border-color: transparent;
  width: 100%;
  margin-left: 20px;
  outline: none;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
.nav1 {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
